---
Language: Cpp
BasedOnStyle: Chromium
AccessModifierOffset: -2
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 80
IncludeCategories: 
  - Regex:           '^<.*\.h>'
    Priority:        3
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '.*'
    Priority:        1
SortIncludes: true
---

